
.order-tab-wrap {
	margin-top: 20px;
	text-align: right;

	.order-tab {
		display: inline-block;

		span {
			margin-left: 5px;
			cursor: pointer;
			
			&:first-child {
				margin-left: 0;
			}

			&.selected {
				font-weight: bold;
				text-decoration: underline;
			}
		}
	}
}