
.container {
	.img-wrap {
		width: 200px;
		height: 200px;

		img {
			width: 50%;
		}
	}

	.css-wrap {
		background-image: url('public/images/img3.jpg');
		background-size: 100%;
		width: 200px;
		height: 200px;
	}
}